@model EasyReading.Models.TwinBook

<h2>@Model.Book1.Title by @Model.Book1.Author</h2>

<table class="table">

</table>
<div id="rawtext" style="display:none;">
    @Html.Raw(EasyReading.Lib.BookFormatter.GetHtmlBody(Model.Path))
</div>
<div class="alignments" style="display:none;">
    @ViewBag.Alignments
</div>
@Scripts.Render("~/Scripts/jquery.animate-colors-min.js")
@Scripts.Render("~/Scripts/bm_alignment.js")